/*!
 * Mastertech - 4 Col Portfolio
 * Insira seu código entre os comentários localizados no fim desta pagina ou/e
 * Edite o código do layout original
 */


/* Edite o código abaixo para mudar as opções do layout original */

body {
  padding-top: 54px;
}


/*Ajusta o layout de acordo com o tamanho da tela*/

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

#btn btn-default {
	color: black;
}

h3{
	color:black;
	font-size: 40px;
}

/* Inicio do meu CSS */


/* Fim do meu CSS */
